.black{
  border: solid black 1px;
}

.login-container{

  background-color: #f0f2f5;
  min-height: 100vh;
  padding-top: 20px;
  .content-right{
    background-color: white;
    border: solid 1px silver;
    border-radius: 15px;
  }


}